<i>Debug: {{debug}}</i>
<h1>Try to solve {{question_count}} question{{suffix}}:</h1>

{% if questions %}
<form action="{% url 'ariphmetics:solve' %}" method='post'>
{% csrf_token %} <!-- Защита от межсайтовой подделки запросов -->
    <ul>
    {% for q in questions %}
        <li>
	    {{ q }}<input type="number" name="a{{q.id}}" id="a{{forloop.counter}}" />
	</li>
    {% endfor %}
    </ul>
    <input type="submit" value="Check" />
</form>
{% else %}
    <p>No tests for you. Bye</p>
{% endif %}
